.maker {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.maker .container {
  display: flex;
  flex: 1;
}

.maker .container > div {
  flex: 1 1 50%;
  background-color: #012E40;
}

.maker .container > div:first-child {
  border-right: 1px solid #666;
}

@media screen and (max-width: 1024px) {
  .maker .container {
    flex-direction: column;
  }

  .maker .container > div:first-child {
    border-right: 0;
    border-bottom: 1px solid #666;
  }
}
